:root {
  --frame: #009688;
  --blur: 0px;
  --saturation: 100%;
}


body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 100px;
}

label {
  margin-right: 10px;
}

img {
  border: 20px solid var(--frame);
  max-width: 100%;
  max-height: 60vh;
  filter: blur(var(--blur)) saturate(var(--saturation));
}

.keyword {
  color: var(--frame);
}

.controls {
  margin-bottom: 50px;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
